@font-face {
	font-family: 'Roboto Flex';
	src: url('assets/RobotoFlex[slnt\,wdth\,wght\,opsz].ttf') format('truetype');
	font-weight: 100 1000;
	font-stretch: 25% 151%;
}

html,
body {
	margin: 0;
	padding: 0;
	background: #ee86b2;
	font-family: 'Roboto Flex';
}

#container {
	height: 90vh;
	display: grid;
	place-items: center;
}

header {
	color: #fefefe;
	font-size: 36px;
	text-decoration: underline;
}

footer {
	height: 10vh;
	background: #f7b1ce;
	display: grid;
	place-items: center;
}

#roulette {
	height: 600px;
	width: 600px;
	background: transparent;
	border-radius: 50%;
	position: relative;
}

#center {
	height: 12px;
	width: 12px;
	position: absolute;
	top: 296px;
	left: 296px;
	background: #14141d;
	border-radius: 50%;
	z-index: 9001;
}

.slice {
	height: 600px;
	width: 600px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
	display: grid;
	place-items: center;
}

.slice > span {
	font-size: 24px;
}

.slice > span::after,
.slice > span::before {
	content: '~';
}

button {
	height: 8vh;
	width: 12vh;
	border-radius: 12px;
}
